PORT=3000
SESSION_SECRET=
GMAIL_USER=
GMAIL_PASS=
NODE_ENV=production
SMTP_HOST=mail.kikoto.es
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
NOTIFICATION_EMAIL=sadekjoud@gmail.com
KIKOTO_API_BASE=https://api.b2b.kikoto.com/v1
KIKOTO_API_TOKEN=
